
@model EntityLayer.Concrete.Message
@{
    ViewBag.Title = "NewMessageWP";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yeni Mesaj Ekle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/eMuAdmin/plugins/summernote/summernote-bs4.css">

    <script src="~/eMuAdmin/plugins/summernote/summernote.min.js"></script>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<body class="hold-transition sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Yeni mesaj sayfası</h1>@ViewBag.mail
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @Html.Action("MessageListMenuWP", "WriterPanelMessage")
                <!-- /.col -->
                <div class="col-md-9">
                    @using (Html.BeginForm("NewMessageWP", "WriterPanelMessage", FormMethod.Post))
                    {
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Mesaj Gonder</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="form-group">                                   

                                    @Html.Label("Alici Maili")
                                    @Html.TextBoxFor(x => x.MessageReceiverMail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.MessageReceiverMail)
                                </div>
                                <div class="form-group">
                                    @Html.Label("Mesaj Basligi")
                                    @Html.TextBoxFor(x => x.MessageSubject, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.MessageSubject)
                                </div>
                                <div class="form-group">
                                    @Html.Label("Mesajiniz")
                                    @Html.TextAreaFor(x => x.MessageContent, new { @class = "form-control", id = "compose-textarea", style = "height: 300px" })
                                   
                                </div>
                                <div class="form-group">
                                    <div class="btn btn-default btn-file">
                                        <i class="fas fa-paperclip"></i> Attachment
                                        <input type="file" name="attachment">
                                    </div>
                                    <p class="help-block">Max. 32MB</p>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i>Gonder</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <script src="~/eMuAdmin/plugins/jquery/jquery.min.js"></script>
    <script src="~/eMuAdmin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/eMuAdmin/dist/js/adminlte.min.js"></script>
    <script src="~/eMuAdmin/dist/js/demo.js"></script>
    <script src="~/eMuAdmin/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            $('#compose-textarea').summernote()
        })</script>
</body>
</html>





