@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "UpdateHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update Heading</h2>

@using (Html.BeginForm("UpdateHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("ID!")
        @Html.TextBoxFor(x => x.HeadingID, new { @class = "form-control" })
        <br />
        @Html.Label("Heading!")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        <br />
        @Html.Label("Heading Date")
        @Html.TextBoxFor(x => x.HeadingDate, new { @class = "form-control" })
        <br />
        @Html.Label("ID ")
        @Html.TextBoxFor(x => x.WriterID, new { @class = "form-control" })
        <br />
        @Html.Label("Heading Category!")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.bagCategory, new { @class = "form-control" })
        <br />
        <button class="btn btn-secondary">Save</button>
    </div>
        }
